<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ flatpage.title }}</title>
</head>
<body>
    <nav>| 
        <a href="/">Home'як</a> |
        <a href="/contacts">Contacts</a> | 
        <a href="/about">About</a> | 
        <a href="/page1">Page 1</a> | 
        <a href="/page2">Page 2</a> | 
        <a href="/page3">Page 3</a> | 
    </nav>
    <h1>{{ flatpage.title }}</h1>
    <hr>
    {% block content %}
    <p>Здесь мог бы быть ваш контент</p>
    {% endblock content %}
</body>
</html>