<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет proudcts -->
{% block title %}
Products
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h3> Сегодня: {{ time_now|date:'l d E Y' }}. Время: {{ time_now|date:'H:i T' }} </h3>
<h4> {{ ads|default_if_none:'Здесь могла бы быть ваша реклама' }} </h4>
<h1>Список товаров: </h1>
    <table>
        <tr>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Категория</th>
            <th>Цена</th>
            <th>На складе</th>
        </tr>
{% if products %}
    {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.description|truncatewords:4 }}</td>
            <td>{{ product.category.name }}</td>
            <td>{{ product.price }}</td>
            <td>
                {% if product.quantity < 50 %}
                    <span style="color: red; ">Мало</span>
                {% elif product.quantity <= 100 %}
                    <span style="color: blue; ">Много</span>
                {% else %}
                <span style="color: green; ">Очень много</span>
                {% endif %}
            </td>
        </tr>    
    
    {% endfor %}
    </table>
{% else %}
    <h1>Товаров нет</h1>
{% endif %}
{% endblock content %}