<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Falatpage {% block title %} {{ flatpage.title }} {% endblock title %} </title>
</head>
<header>
    <a href="/">Flatpages</a> &nbsp;&nbsp;
    <a href="/contacts/">Contacts</a> &nbsp;&nbsp;
    <a href="/about/">About</a> &nbsp;&nbsp;
    <a href="/task1_3_2/">Task 1.3.2</a> &nbsp;&nbsp;
    <a href="/task1_3_3/">Task 1.3.3</a> &nbsp;&nbsp;
    <a href="/task1_4_3/">Task 1.4.3</a> &nbsp;&nbsp;
    <a href="/task1_4_4/">Task 1.4.4</a> &nbsp;&nbsp;

</header>
<body>

<h1> {% block header %} {% endblock header %} </h1>

    {% block content %}
    {{ flatpage.content }}
    <hr>
    <p> Данные из дефолтного шаблона <br> они выдаются если у страницы нет своего шаблона. <br>
        А если шаблон есть, то здесь будет контент блок из шаблона страницы, то есть этой надписи не будет.</p>

    {% endblock content %}
</body>
</html>