<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'default.html' %}


{% block title %}
Сменить пароль
{% endblock title %}


{% block content %}
    {% if user.is_authenticated %}
    <h2>Сменить пароль</h2>
    <form class="col-form" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Сохранить">
    </form>
    {% if messages %}
        {% for message in messages %}
        <h3> {{ message }} </h3>
        {% endfor %}
    {% endif %}
    <br>
    <a href="{% url 'accounts:profile_update' %}">Назад к профилю</a>
    {% else %}

    {% endif %}
{% endblock content %}
