{% extends 'flatpages/default.html' %} 

{% load custom_filters %}

<!-- Название у нас будет proudcts -->
{% block title %}
{{ post.header }}
{% endblock title %}
 
<!-- В контенте на странице мы выводим все товары -->
{% block content %}

<h2> 
    {{ post.header|censor }} 
</h2>
    <span> <b>
    Автор: {{post.author.user.username}} 
    Рейтинг: {{post.author.rating}}
    Дата и время публикации: {{post.create_time|date:'d.M.Y H:m' }} <br>
    </b></span>
<p>
    {{ post.text|censor}} 
</p>
<hr>
<h3> Комментарии </h3>
{% for comment in comments %}
        <b>{{comment.user.username}}</b> {{comment.rating}} <br>
        {{comment.text|censor}} <hr>
    
{% endfor %}

{% endblock content %}