<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %} 
<!-- подгружаем свой цензурный фильтр -->
{% load custom_filters %}

<!-- title страницы во вкладке -->
{% block title %}
News list
{% endblock title %}
 
<!-- В контенте на странице мы выводим все новости -->
{% block content %}
<h2>Список новостей</h2>
<h4>Всего новостей: {{ news_list|length }} </h4>
{% if news_list %}
    {% for news in news_list %}
        <b><a href={{news.id}}> {{ news.header|censor }}</a></b> 
        {{ news.create_time|date:'d.M.Y  H:m' }} <br>
        {{ news.text|censor|truncatewords:18}} <hr>
    {% endfor %}
{% else %}
    <h2>Новостей пока нет</h2>
{% endif %}
{% endblock content %}