<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'default.html' %}

<!-- Название у нас будет proudcts -->
{% block title %}
All News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Последние новости</h1>
{% for post in news  %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3> <a href="/news/{{ post.id }}"> {{ post.header }}</a> </h3>
            <p> {{ post.preview }} </p>
        </div>
        <hr>
    </div>
{% endfor %}
{% endblock content %}