<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %} 
<!-- подгружаем свой цензурный фильтр -->
{% load custom_filters %}

<!-- title страницы во вкладке -->
{% block title %}
News list with search
{% endblock title %}
 
<!-- В контенте на странице мы выводим все новости -->
{% block content %}
    <h3>Список новостей</h3>
    <form method="GET">
        {{ filter.form }}
        <input type="submit" value="Найти">
        <a href='/news/search'> <input type="button" value="Очистить"> </a>
    </form>

    {% if news_search %}
        {% for news in news_search %}
            <b><a href={{news.id}}> {{ news.header|censor }}</a></b> 
            {{ news.create_time|date:'d.M.Y  H:m' }} <br>
            {{ news.text|censor|truncatewords:18}} <br>
            <b>Рейтинг: {{news.rating}}  Автор: {{ news.author.user.username }} </b> <hr>
        {% endfor %}
    {% else %}
        <h3>По заданным фильтрам новостей не нашлось.</h3>
    {% endif %}

    {% comment %} ссылки пагинатора {% endcomment %}
    {% if is_paginated %}

        {% if page_obj.has_previous%}
            <a class='paginator' href="?{{ request.get_full_path|update_page:1}}">Первая</a>
            <a class='paginator' href="?{{ request.get_full_path|update_page:page_obj.previous_page_number}}"> <-- </a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class='paginator'> {{ num }} </a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class='paginator' href="?{{ request.get_full_path|update_page:num }}"> {{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class='paginator' href="?{{ request.get_full_path|update_page:page_obj.next_page_number }}"> --> </a>
            <a class='paginator' href="?{{ request.get_full_path|update_page:page_obj.paginator.num_pages }}"> Последняя</a>
        {% endif %}

    {% endif %}
{% endblock content %}

