<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %} 
 
{% load custom_filters %}

<!-- Название у нас будет proudcts -->
{% block title %}
Module D4
{% endblock title %}
 
<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    <h1>Все товары</h1>
    <h4> {% now "D d.m.Y H:i" %} </h4>

    <h4> 
        {{ your_ads|default_if_none:"Здесь могла быть ваша реклама"}} 
    </h4>
    <hr>
    <!-- Перед таблицей добавим форму для поиска -->
    <form method="GET">
        {{ filter.form }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
        <input type="submit" value="Найти">
    </form>

    {% if filter.qs %} <!-- Если есть товары, то выводим таблицу с ними -->
        <table>
            <tr>
                <th>
                    Название
                </th>
                <th>
                    Описание
                </th>
                <th>
                    Категория
                </th>
                <th>
                    Цена
                </th>
                <th>
                    На складе
                </th>
            </tr>
            {% for product in filter.qs %} <!-- Для каждого товара будете генерироваться новая строчка, т.е. новый html код. При этом сам цикл работет точно также, как и в python. product — переменная цикла, т.е. наш товар взятый из общего списка -->
            <tr>
                <td>
                    <a href="{{product.id}}">{{ product.name|multiply:1 }} </a> <!-- не забываем что переменные в шаблоне ничем не отличаются от переменных в python. Здесь также можно получать доступ к полям класса. Например здесь мы выводим имя, в следующем столбце описание, и т.д.  -->
                </td>
                <td title="{{product.description}}">
                    {{ product.description|truncatechars:20 }}
                </td>
                <td>
                    {{ product.category.name }}
                </td>
                <td>
                    {{ product.price }}
                </td>
                {% if product.quantity > 50 %}
                    <td class="many-quantity" title="Более 50">Много</td>
                {% elif product.quantity > 10 %}
                    <td class="normal-quantity" title="Больше 10">Достаточно</td>
                {% else %}
                    <td class="low-quantity" title="Меньше 10">Мало</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Товаров нет!</h2>
    {% endif %}

{% if is_paginated %}

    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a class='paginator' href="?page=1">Первая  </a>
        <a class='paginator' href="?page={{ page_obj.previous_page_number }}">  <--  </a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class='paginator'> {{ num }} </a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class='paginator' href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a class='paginator' href="?page={{ page_obj.next_page_number }}"> --> </a>
        <a class='paginator' href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
    {% endif %}

{% endif %}
    
{% endblock content %}