{% extends 'flatpages/default.html' %}
 
{% block title %} Product list {% endblock title %}
 
{% block content %}
<h2>Detail of {{ product.name }} </h2>
<table>
    <thead>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Quantity</th>
    </thead>
    <tr>
        <td>{{ product.name|title }}</td>
        <td>{{ product.category.name|title }} </td>
        <td>{{ product.price }} </td>
        <td>{{ product.quantity }} </td>
    </tr>
</table>
<h5> <a href={% url 'products_list' %} >Back to All Products </a> </h5>
{% endblock content %}
