<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'default.html' %}

{% load censor_filter %}

<!-- Название у нас будет proudcts -->
{% block title %}
All News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h3> Сегодня: {{ time_now|date:'l d E Y' }}. Время: {{ time_now|date:'H:i T' }} </h3>
<h3>Всего новостей: {{ filter.qs|length }} </h3>

<form class='col-form' method="GET">
    {{filter.form}}
    <input type="submit" value="Найти">
</form>

<h1>Новости:</h1>

{% for post in filter.qs  %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3> <a href="/news/{{ post.id }}"> {{ post.header|censor }}</a> </h3>
            <p> {{ post.text|truncatechars:50|censor }} </p>
            <span> {{ post.create_time|date:'d.m.Y H:i' }} </span>
            <br>
            {% if post.author.user.id == user.id  %}
            <a href="{% url 'post_update' post.id %}">[_редактировать_ ]</a>
            <a href="{% url 'post_delete' post.id %}">[_удалить_новость_ ]</a>            
            <br>
            {% endif %}
            <span> Автор: {{post.author}} Рейтинг: {{ post.rating }} </span>
        </div>
        <hr>
    </div>
{% endfor %}
{% endblock content %}