p{
    font-size: 20px;
    color: rgb(94, 94, 94);
}

h1,
h2 {
    color: rgb(233, 175, 15);
}

.about-me {
    color: rgb(240, 17, 17);
}

.important-text{
    color: #000;
    font-weight: 700;
}

.items {
    border-collapse: collapse;
}

.items th, 
.items td {
    border: 1px solid black;
}