body {
    min-width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
}

.form {
    display: flex;
    justify-content: space-around;
}

.inpunts {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
}

input {
    width: 100%;
    text-align: center;
}

.btn {
    width: 45%;
    font-size: larger;
}

.image {
    min-width: 300px;
    margin: 35px;
}